<div class="modal-dialog modal-lg modal-dialog-center modal-content">
  <div class="btn-approval">
    <div class= "modal-title modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <%= form_with(model: @user, url: user_approval_path(@user, @approvals) , local: true, method: :put) do |f| %>
    <% (@users || []).each do |user| %>
   
      <% unless user.approvals.count == 0 %>
        <div class="modal-header">
          <h3 class= "modal-title">【<%= user.name %>からの勤怠申請】</h3>
        </div>
          
          <div>
            <div class= "modal-body">
            <table class="table table-bordered table-condensed table-hover">
              <tr>
                <th>月</th>
                <th>指示者確認㊞</th>
                <th>変更</th>
                <th>勤怠を確認する</th>
              </tr>
      <% end %>
      <% @approvals.each do |approval| %>
        <% if approval.user_id == user.id %>
          <%= f.fields_for "approvals[]", approval do |a| %>
            <% if (approval.superior_id == @user.id) && (approval.superior_comfirm == 1)%>
              <tr>
                <td><%= l(approval.month, format: :month, default: '-')  %></td>
                <td>
                  <%= a.select :superior_comfirm,[
                      ["なし", 0],
                      ["申請中", 1],
                      ["承認", 2],
                      ["否認", 3]
                      ] ,{}, {class: "form-control"}
                      %>
                </td>
                <td>
                  <%= a.check_box :approval_change, id: :approval_checkbox, as: :boolean %>
                </td>
                <td><%= link_to "確認", user_path(approval.user) ,class: "btn btn-primary"%></td>
              </tr>
           <% end %>
          <% end %>
        <% end %>
      <% end %>
          </table>
        </div>
  <% end %>
    <div class="modal-footer">
    <% unless @users == [] %>
      <%= f.submit "変更を送信する" ,class: "btn btn-primary btn-lg approval-btn" %>
    <% else %>
      <h2>現在申請はありません</h2>
    <% end %>
    </div>
      </div>
    </div>
  <% end %>
</div>