<% provide(:title, 'All Users') %>
<% provide(:class_text, 'basic-info') %>
<% provide(:button_text, '更新') %>

<% if params[:search].present? %>
  <h1>検索結果</h1>
<% else %>
  <h1>ユーザー一覧</h1>
<% end %>


<div class ="border border-muted search">
  <p>検索</p>
    <%= form_tag users_path, method: 'get' do %>
      <%= text_field_tag :search, params[:search], class: "form-control form-search" %>
      <%= submit_tag '検索', :name => nil, class: "btn btn-lg btn-primary search-btn" %>
    <% end %>
</div>
  
<div class="col-md-10 col-md-offset-1">
  <div class = "csv">
    <%= form_tag import_users_path multipart: true do %>
      <%= file_field_tag :file, class: "form-control form-csv" %>
      <%= submit_tag "CSVをインポート" , class: "form-control btn btn-primary"%>
    <% end %>
  </div>
  <%= will_paginate %>
    <% @users.each do |user| %>
      <div class="user-name"><%= link_to user.name, user %></div>
      <div>
        ❙　<%= link_to "削除", user, method: :delete,
            data: { confirm: "削除してよろしいですか？"},
            class: "btn btn-primary" %>
      <div class="jumbotron user-edit-btn">
        <h4 class="panel-title">
          <button user data-toggle="collapse" data-parent="#accordion" href="#collapse<%= user.id %>" class="btn btn-primary btn-lg">編集</button>
        </h4>
      </div>
          <div id="collapse<%= user.id %>" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="col-md-6 col-md-offset-3">
          <%= form_with(model: user, url: update_basic_info_user_path(user), local: true, method: :patch) do |f| %>

            <%= f.label :name, class: "label-#{yield(:class_text)}" %>
            <%= f.text_field :name, class: "form-control" %>

            <%= f.label :email, class: "label-#{yield(:class_text)}" %>
            <%= f.email_field :email, class: "form-control" %>
  

            <%= f.label :department, class: "label-#{yield(:class_text)}" %>
            <%= f.text_field :department, class: "form-control" %>
          
            <%= f.label :employee_number, class: "label-#{yield(:class_text)}" %>
            <%= f.number_field :employee_number, class: "form-control" %>
            
            <%= f.label :uid, class: "label-#{yield(:class_text)}" %>
            <%= f.text_field :uid, class: "form-control" %>
            
            <%= f.label :password, class: "label-#{yield(:class_text)}" %>
            <%= f.password_field :password, class: "form-control" %>

            <%= f.label :basic_time, class: "label-#{yield(:class_text)}" %>
            <%= f.time_field :basic_time, class: "form-control" %>

            <%= f.label :basic_start_time, class: "label-#{yield(:class_text)}" %>
            <%= f.time_field :basic_start_time, class: "form-control" %>

            <%= f.label :basic_leave_time, class: "label-#{yield(:class_text)}" %>
            <%= f.time_field :basic_leave_time, class: "form-control" %>            
            

            <div class="center">
              <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
              <button type="button" class="btn btn-default btn-<%= yield(:class_text) %>" data-dismiss="modal">
                キャンセル
              </button>
            </div>
          <% end %>
        </div>
            </div>
          </div>
      </div>
    <% end %>
  <%= will_paginate %>
</div>

<!--モーダルウインドウ表示-->
<!--<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>-->
