<% provide(:class_text, 'one_month') %>
<% provide(:button_text, '更新') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">勤怠変更申請</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-9 col-md-offset-1">
          <%= form_with(model: @user, url: one_month_approval_update_user_attendance_path(@user) , local: true) do |f| %>
          <% (@users || []).each do |user| %>
          <h1>【<%= user.name %>からの勤怠変更申請】</h1>
          <table  class="table table-bordered table-condensed table-hover">
            <tr>
              <th rowspan="3">日付</th>
              <th rowspan="3">曜日</th>
              <th colspan="4">変更前</th>
              <th colspan="4">変更後</th>
              <th rowspan="3">備考</th>
              <th rowspan="3">指示者確認㊞</th>
              <th rowspan="3">変更</th>
              <th rowspan="3">勤怠を確認する</th>
            </tr>
            
            <tr>
              <th colspan="2">出社</th>
              <th colspan="2">退社</th>
              <th colspan="2">出社</th>
              <th colspan="2">退社</th>
            </tr>
            
            <tr>
              <th>時</th>
              <th>分</th>
              <th>時</th>
              <th>分</th>
              <th>時</th>
              <th>分</th>
              <th>時</th>
              <th>分</th>
            </tr>
            <% @attendances.each do |attendance| %>
            <% if user.id == attendance.user_id %>
            <%
              css_class =  
              case $days_of_the_week[attendance.worked_on.wday]
              when '土'
                'text-primary'
              when '日'
                'text-danger'
              end
            %>
            <tr>
              <td><%= l(attendance.worked_on, format: :short) %></td>
              <td class="<%= css_class %>"><%= $days_of_the_week[attendance.worked_on.wday] %></td>
              <td><%= attendance.started_at.floor_to(15.minutes).strftime('%H') if attendance.started_at.present? %></td>
              <td><%= attendance.started_at.floor_to(15.minutes).strftime('%M') if attendance.started_at.present? %></td>
              <td><%= attendance.finished_at.floor_to(15.minutes).strftime('%H') if attendance.finished_at.present? %></td>
              <td><%= attendance.finished_at.floor_to(15.minutes).strftime('%M') if attendance.finished_at.present? %></td>
              <td><%= attendance.beta_started_at.floor_to(15.minutes).strftime('%H') if attendance.beta_started_at.present? %></td>
              <td><%= attendance.beta_started_at.floor_to(15.minutes).strftime('%M') if attendance.beta_started_at.present? %></td>
              <td><%= attendance.beta_finished_at.floor_to(15.minutes).strftime('%H') if attendance.beta_finished_at.present? %></td>
              <td><%= attendance.beta_finished_at.floor_to(15.minutes).strftime('%M') if attendance.beta_finished_at.present? %></td>
              <td><%= attendance.beta_note %></td>
              <%= f.fields_for "attendances[]", attendance do |a| %>
              <td>
                <%= a.select :onemonth_confirm,[
                      ["なし", 0],
                      ["申請中", 1],
                      ["承認", 2],
                      ["否認", 3]
                      ] ,{}, {class: "form-control"}
                      %>
              </td>
              <td><%= a.check_box :one_month_change, id: :one_month_checkbox, as: :boolean %></td>
              <td><%= link_to "確認", user_path(attendance.user, date: attendance.one_month) ,class: "btn btn-primary"%></td>
              <%= a.hidden_field :started_at, value: attendance.beta_started_at %>
              <%= a.hidden_field :finished_at, value: attendance.beta_finished_at %>
              <%= a.hidden_field :note, value: attendance.beta_note %>
              <% end %>
            </tr>
          <% end %>
          <% end %>
          </table>
          <% end %>
            <%= f.submit "変更を送信する" ,class: "btn btn-primary btn-lg approval-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

 