<% provide(:class_text, 'overtime') %>
<% provide(:button_text, '更新') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">残業申請</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-9 col-md-offset-1">
          <table  class="table table-bordered table-condensed table-hover">
            <tr>
              <th>日付</th>
              <th>曜日</th>
              <th>終了予定時間</th>
              <th>翌日</th>
              <th>業務処理内容</th>
              <th>指示者確認㊞</th>
            </tr>
            
            <%= form_with(model: [@user, @attendance], url: update_overtime_user_attendance_path(@user, @attendance), local: true, method: :patch) do |f| %>
            <tr>
              
              
        <%
        css_class =  
        case $days_of_the_week[@attendance.worked_on.wday]
        when '土'
          'text-primary'
        when '日'
          'text-danger'
        end
        %>
        
              <td><%= l(@attendance.worked_on, format: :short) %></td>
              <td class="<%= css_class %>"><%= $days_of_the_week[@attendance.worked_on.wday] %></td>
              <td><%= f.time_field :scheduled_end_time, class: 'form-control' %></td>
              <td><%= f.check_box :over_next_day, id: :over_checkbox, as: :boolean %></td>
              <td><%= f.text_field :occupation, class: 'form-control' %></td>
              <td>
                <%= f.collection_select(:over_id, User.where(superior: true) ,:id, :name, {prompt: ""}, class: "form-control") %>
              </td>
            </tr>
          </table>
            <%= f.hidden_field :over_confirm, value: 1 %>
            <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)} overtime-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
